@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Regular"),
        url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Bold"),
        url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Semibold"),
        url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Medium"),
        url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Light"),
        url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Thin"),
        url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Ultralight"),
        url("../fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Heavy"),
        url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-Black"),
        url("../fonts/SF-Pro-Display-Black.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-RegularItalic"),
        url("../fonts/SF-Pro-Display-RegularItalic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-BoldItalic"),
        url("../fonts/SF-Pro-Display-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-SemiboldItalic"),
        url("../fonts/SF-Pro-Display-SemiboldItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-MediumItalic"),
        url("../fonts/SF-Pro-Display-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-LightItalic"),
        url("../fonts/SF-Pro-Display-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-ThinItalic"),
        url("../fonts/SF-Pro-Display-ThinItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-UltralightItalic"),
        url("../fonts/SF-Pro-Display-UltralightItalic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-HeavyItalic"),
        url("../fonts/SF-Pro-Display-HeavyItalic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "SF-Pro";
    src: local("SF-Pro-Display-BlackItalic"),
        url("../fonts/SF-Pro-Display-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}
