@font-face {
    font-family: "Neue-Montreal";
    src: local("Neue-Montreal-Display-Regular"),
        url("../fonts/NeueMontreal-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Neue-Montreal";
    src: local("Neue-Montreal-Display-Bold"),
        url("../fonts/NeueMontreal-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Neue-Montreal";
    src: local("Neue-Montreal-Display-Medium"),
        url("../fonts/NeueMontreal-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Neue-Montreal";
    src: local("Neue-Montreal-Display-Light"),
        url("../fonts/NeueMontreal-Light.otf") format("opentype");
    font-weight: 300;
}

