@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@import './fonts.css';

* {
    font-family: "SF-Pro", sans-serif;
    font-weight: normal;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
}

p {
    margin: 5px;
}

.theme-light{
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #fff;
}

.theme-dark{
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
}

.theme-light, .theme-dark {
    transition: all 0.2s ease;
}

.App {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    height: calc(100vh - 55px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: fit-content;
    height: fit-content;
    text-align: left;
    font-size: 49px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-text {
    margin: -15px -3px -15px 4px;
}

.middle {
    height: 300px;
    width: 300px;
}

.middle-image-light {
    width: 300px;
    height: 300px;
    border: 5px solid #000;
}

.middle-image-dark {
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
}

.middle-image-light, .middle-image-dark {
    transition: all 0.2s ease;
}

.right {
    text-align: left;
    height: 300px;
    width: 300px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider-light {
    background-color: #222;
}

.divider-dark {
    background-color: #ddd;
}

.divider-light, .divider-dark {
    transition: all 0.5s ease;
}

.rounded-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: none !important;
}

.plus-button {
    margin-left: 0 !important;
}

.external-button-group {
    position: relative;
    top: -30px;
    left: 275px;
    display: flex;
    align-items: flex-start;
    width: 50px;
    transition: all ease 0.2s;
}

.external-button-group:hover {
    width: 300px;
}

.external-button-group:hover * {
    margin: 0 !important;
}

.external-button{
    transform: translateZ(0);
    margin-right: -25px;
    margin-left: -25px;
    transition: all ease 1s;
}

.external-button:hover {
    transform: scale(1.2);
    z-index: 1;
}

.more-button-light {
    background-color: #000 !important;
}

.more-button-dark {
    background-color: #fff !important;
}

.more-button-light, .more-button-dark {
    transition: all 0.2s ease;
}

.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.source-light {
    color: #000;
}

.source-dark {
    color: #fff;
}

.source-light, .source-dark {
    transition: all 0.2s ease;
}

.footer-text {
    position: absolute;
    margin: 2px;
    right: 0;
    text-align: right;
    font-size: 12px;
    font-weight: 100 !important;
}

.footer-text p {
    margin: 0;
}

.footer-text a {
    font-size: 12px;
}

/** for narrow screens like mobile **/
@media (max-width: 900px) {
    body {
        height: auto;
    }
    .content {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    .right {
        justify-content: flex-start;
    }
    .footer {
        position: relative;
        bottom: 0;
    }
    .plus-button {
        margin-left: unset !important;
        margin-top: 0 !important;
    }
    .external-button-group {
        flex-direction: column;
    }
    .external-button-group:hover {
        width: 50px;
        height: 300px;
    }
    .external-button {
        margin-left: unset;
        margin-right: unset;
        margin-top: -25px;
        margin-bottom: -25px;
    }
}
